*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 1536px;

}

.container{
    padding-top: 80px;
    padding-left: 150px;
    width: 1400px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.container .box{
    width: 320px;
    position: relative;
    background: grey;
    padding: 34px 40px 60px;
    box-shadow: 0 15px 45px rgba(0,0,0,.1);
}

.container .box:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    transform:  scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
}

.container .box:hover:before{
    transform:  scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
}

.container .box h1{
    left: 40px;
    top: 60px;
    font-size: 30px;
}

.Banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(Images/Image\ 2.png);
    background-size: cover;
    background-position: center;
}

.navbar{
    width: 95%;
    margin: auto;
    padding: 40px ;
    padding-right: 35px;
    display: flex;
    align-items: center;
    justify-content: right;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: aqua;
    position: absolute;
    left: 0;
    bottom: -7px;
    transition: 0.4s;
}

.navbar ul li:hover:after{
width: 100%;
}
